---
import Xbox from '../components/icons/Xbox.astro';
import PlayStation from '../components/icons/PlayStation.astro';
import Nintendo from '../components/icons/Nintendo.astro';
import Steam from '../components/icons/Steam.astro';
import EpicGames from '../components/icons/EpicGames.astro';
import Twitch from '../components/icons/Twitch.astro';
import LayoutGuest from '../layouts/LayoutGuest.astro';
---

<LayoutGuest title="Sitio Web Oficial">
	<article class="bg-gradient-to-b from-slate-300 via-slate-600 to-slate-100 pb-3 rounded-b-full">
		<div class="bg-[url(/images/background.png)] rounded-b-full bg-center">
			<main class="flex flex-col -mt-2 bg-gradient-to-b from-[#151515] via-[#151515]/80 to-[#151515]/20 px-52 justify-center items-center h-screen w-full gap-4 rounded-b-full">
				<a target="_blank" href="https://www.twitch.tv/midudev" class="p-1 bg-[#8C44F7] rounded-full px-3 text-sm flex items-center gap-1">
					<Twitch />
					midudev en Twitch
				</a>
				<h1 class="font-bold text-6xl text-center w-11/12 uppercase font-Cal">La mejor rese침a solo puede venir de un verdadero <span class="bg-slate-300 px-2 text-black -skew-12">gamer .</span></h1>
				<p class="text-zinc-300 w-8/12 text-center font-Inter">쮸 punto de descargar un juego? Primero, descubre lo que la comunidad gamer tiene que decir. Opiniones reales, sin filtros.</p>
				<div class="flex gap-3 mt-2">
					<a href="" class="bg-slate-300 p-2 px-6 rounded-full text-black flex gap-2 items-center">
						<span>Conocer ahora</span>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
							<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
						</svg>
					</a>
					<a href="" class="border p-2 px-6 rounded-full text-zinc-300 bg-black/10 backdrop-blur-sm flex gap-2 items-center">
						<span>Mas informacion</span>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
							<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
						</svg>				  
					</a>
				</div>
			</main>
		</div>
	</article>
	<article class="py-96 h-screen flex justify-between items-center px-40 relative">
		<div class="relative z-10 w-full flex flex-col gap-4 p-10 rounded-2xl bg-zinc-900/80 backdrop-blur-sm border-t border-b border-b-zinc-700">
			<h2 class="text-6xl">Opiniones de mas de 100 juegos de todas las plataformas existentes.</h2>
			<div class=" flex items-center gap-4">
				<Xbox />
				<PlayStation />
				<Nintendo />
				<Steam />
				<EpicGames />
				<span class="text-zinc-300">Y muchas mas</span>
			</div>
			<div class="absolute p-18 -z-10 bg-slate-300/80 blur-2xl"></div>
			<div class="absolute p-12 -z-10 right-0 bottom-0 bg-slate-300/50 blur-2xl"></div>
		</div>
		<figure class="w-full">
			<img src="/images/marioYoshi.png" alt="" class="w-11/12">
		</figure>
		
	</article>
	<article class="py-[430px] h-screen bg-white flex justify-end px-36 relative">
		<figure class="w-full absolute left-0 bottom-0 flex">
			<img src="/images/theLastOfUss.png" alt="" class="w-5/12">
		</figure>
		<div class="relative w-6/12 flex flex-col gap-4">
			<figure class="absolute -top-44">
				<img src="/images/caratulaTheLast.jpg" alt="" class="w-40 rounded">
			</figure>
			<h2 class="text-zinc-700 font-medium text-5xl">Mira lo que la comunidad opina sobre "The Last Of Us: part l"!</h2>
			<div class="flex gap-2">
				<div class="bg-zinc-100 w-fit rounded-2xl p-4 flex flex-col gap-2">
					<span class="text-zinc-500 text-xs">02 Mayo 2025</span>
					<header class="relative flex items-center gap-2">
						<span class=" rounded-full bg-zinc-800 flex items-center justify-center w-8 h-8">M</span>
						<span class="text-black">Markitokun</span>
						<span class="absolute right-2 text-2xl">游녨游낖</span>
					</header>
					<div class="flex flex-col justify-between h-full gap-4">
						<span class="text-sm text-zinc-700">The Last of Us es una obra maestra narrativa. El v칤nculo entre Joel y Ellie se siente aut칠ntico, y el mundo postapocal칤ptico est치 bellamente construido. Es uno de los juegos m치s influyentes de su generaci칩n.</span>
						<span class="text-zinc-600">12, 223 仇벒잺</span>
					</div>
				</div>
				<div class="bg-zinc-100 w-fit rounded-2xl p-4 flex flex-col gap-2">
					<span class="text-zinc-500 text-xs">30 Abril 2025</span>
					<header class="relative flex items-center gap-2">
						<span class=" rounded-full bg-zinc-800 flex items-center justify-center w-8 h-8">A</span>
						<span class="text-black">AngelitoBB129</span>
						<span class="absolute right-2 text-2xl">游녩游낖</span>
					</header>
					<div class="flex flex-col justify-between h-full gap-4">
						<span class="text-sm text-zinc-700">Aunque la historia es fuerte, la jugabilidad puede sentirse repetitiva. El ritmo a veces se ve afectado por largas secciones de sigilo y combate que no aportan tanto a la trama. </span>
						<span class="text-zinc-600">303 仇벒잺</span>
					</div>
				</div>
			</div>
		</div>
	</article>
	<article class="py-96 h-screen bg-[#151515] flex justify-between items-center px-40 relative"></article>
	
</Layout>