---
import LayoutGuest from '../layouts/LayoutGuest.astro';
---

<LayoutGuest title="Sitio Web Oficial">
	<article class="bg-gradient-to-b from-indigo-500 via-purple-500 to-zinc-900 pb-3 rounded-b-full">
		<div class="bg-[url(/images/background.png)] rounded-b-full">
			<main class="flex flex-col -mt-2 bg-gradient-to-b from-zinc-950/95 via-zinc-900/80 to-zinc-700/70 px-52 justify-center items-center h-screen w-full gap-4 rounded-b-full">
				<h1 class="font-bold text-6xl text-center w-11/12 uppercase font-Cal">La mejor reseña solo puede venir de un verdadero <span class="bg-[#FF2DF1] px-2 text-black -skew-12">gamer .</span></h1>
				<p class="text-zinc-300/80 w-8/12 text-center font-Inter">¿A punto de descargar un juego? Primero, descubre lo que la comunidad gamer tiene que decir. Opiniones reales, sin filtros.</p>
				<div class="flex gap-3 mt-2">
					<a href="" class="bg-purple-500 p-2 px-6 rounded-full text-black flex gap-2 items-center">
						<span>Conocer ahora</span>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
							<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
						</svg>
					</a>
					<a href="" class="border p-2 px-6 rounded-full text-zinc-400 flex gap-2 items-center">
						<span>Mas informacion</span>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
							<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
						</svg>				  
					</a>
				</div>
			</main>
		</div>
	</article>
	<article class="h-screen">

	</article>
</Layout>
